# ─── Client Production Environment Variables ───
VITE_SOCKET_URL=http://localhost:5001
VITE_API_URL=http://localhost:5001/api

# ─── Credit Card (Stripe) Client Configuration ───
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Rwnfz0jPneeJ2revahhaSqLT7uNLBZ0jHbQZxNJJ1rX5PoVpPJNJl7cXTC8AWbYH7JgfsehOJzc7nxQ0V86SEfg00VN1OdAt0

